/* FONTS */
@font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../Fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../Fonts/Rubik-ExtraBold.woff2') format('woff2'),
        url('../Fonts/Rubik-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../Fonts/Inter18pt-Bold.woff2') format('woff2'),
        url('../Fonts/Inter18pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../Fonts/Rubik-Medium.woff2') format('woff2'),
        url('../Fonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../Fonts/Rubik-Regular.woff2') format('woff2'),
        url('../Fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../Fonts/Rubik-SemiBold.woff2') format('woff2'),
        url('../Fonts/Rubik-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* FONTS END */

:root {
  --site-bg: #1a1a1a;
  --white-color: #FFFFFF;
  --orange-color: #FF9142;
  --rubik--fonts: "Rubik", sans-serif;
  --syne--fonts: "Syne", sans-serif;
  --inter--fonts: "Inter", sans-serif;
  --open-sans-fonts: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul,ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--site-bg);
  font-family: var(--rubik--fonts);
  font-weight: 400;
  font-size: 18px;
  line-height: 154%;
  letter-spacing: 5.5%;
}

.container {
  max-width: 1186px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.site-header {
  padding-top: 33px;
  margin-bottom: 33px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999;
  box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
  background-color: #00000007;
  padding-bottom: 30px;
}

.site-header__container {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: auto;
  display: flex;
  transition: all 0.4s ease;
}

.logo:hover {
  transform: scale(1.3);
}

.logo:active {
  opacity: 0.6;
}

.site-header__list {
  display: flex;
  gap: 40px;
  margin-right: 45px;
}

.site-header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--white-color);
  transition: all 0.4s ease;
}

.site-header__link:hover {
  color: chartreuse;
  border-bottom: 1px solid chartreuse;
  padding-bottom: 1px;
}

.site-header__link:active {
  opacity: 0.6;
}

.site-header__item {
  font-family: sans-serif;
}


.btn {
  background-color: #0f0f0f;
  padding: 15px 36px;
  border-radius: 30px;
  border: 2px solid #575757;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  font-family: sans-serif;
  text-transform: uppercase;
  transition: all 0.4 ease;
}

.btn:hover {
  transform: scale(1.2);
}

.btn:active {
  opacity: 0.6;
}

/* HERO START */
.hero {
  padding-top: 158px;
  padding-bottom: 130px;
}

.hero__container {
  max-width: 931px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.hero__title {
  margin-bottom: 93px;
  font-weight: 700;
  font-style: bold;
  font-size: 72px;
  line-height: 100%;
  color: var(--white-color);
  font-family: var(--syne--fonts);
}

.btn-orange {
  padding: 24px 33px 24px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--orange-color);
  gap: 24px;
  border: none;
  border-radius: 32.5px;
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 1.63px;
  text-transform: uppercase;
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn-orange:hover {
  transform: scale(1.3);
}

.btn-orange:active {
  opacity: 0.6;
}
/* HERO END */

/* KNOW START */
.know {
  padding-top: 100px;
  padding-bottom: 190px;
}

.know__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.know__info {
  max-width: 625px;
  width: 100%;
  color: var(--white-color);
}

.know__title {
  font-family: var(--syne--fonts);
  font-weight: 700;
  font-style: Bold;
  font-size: 56px;
  line-height: 100%;
  margin-bottom: 26px;
}

.know__text {
  margin-bottom: 76px;
  color: #a8a8a8;
}

.know__btn-orange {
margin-right: 0;
margin-left: 0;
}

.know__img-wrapper {
  display: flex;
  position: relative;
}
.knoww__horizontal {
  position: absolute;
  right: 55px;
  top: -17px;
}
.know__vertical {
  position: absolute;
  bottom: 48px;
  left: -27.5px;
}
/* KNOW END */